<div class="new_comment">
	<%= form_for([@post, Comment.new]) do |f| %>

		<b><%= f.label "Name" %></b>
		<%= f.text_field :commenter %>
	</br>
	<div id="comment_body">
		<%= f.text_area :body %>
	</div>
		<%= f.submit %>
	<% end %>
</div>