<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
  <% @post = post %>
  <%= render 'post' %>
<div class="comment_bar">
  <%= link_to comment_count, "#{show_post_path(@post.url_title)}#comments", :class => 'comment_link' unless comment_count == '0 comments' %>
<div id="<%= @post.url_title %>">
  <%= link_to 'Add comment', "#{show_post_path(@post.url_title)}#new_comment", remote: true %>
</div>
</div>
<% end %>
<br />